@model BatStore.ModelView.HomeView;
@{
    ViewData["Title"] = "Bat Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> allProduct = ViewBag.AllProducts;
}


<!-- Begin Slider Area -->
<div class="slider-area">

    <!-- Main Slider -->
    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="images/SlideImages/S22_ultra.png">
                    <div class="parallax-img-wrap">
                        
                    </div>
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <h2 class="title mb-9"><br> Products.</h2>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="images/SlideImages/iPhone_11.png">
                    
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <h2 class="title mb-9"><br> Products.</h2>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->
<!-- Begin Banner With Category -->
<div class="banner-with-category">
    <div class="product-category-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center pb-55">
                        <span class="sub-title" style="color:#CD5C5C">Những sản phẩm mới nhất của chúng tôi</span>
                        <h2 class="title mb-0">Sản phẩm theo hãng</h2>
                    </div>
                    <div class="product-category-item">
                        <ul>
                            @foreach (var item in Model.Products)
                            {
                                <li class="nav-item" role="presentation">
                                    <a href="@item.category.CatName" target="_blank">
                                        <img src="~/images/categories/@item.category.Thumb" alt="@item.category.Title">
                                        @item.category.CatName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Banner With Category End Here -->
<!-- Begin Product Area -->
<div class="product-area product-style-2 section-space-y-axis-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <span class="sub-title " style="color:#CD5C5C">Các sạn phẩm phục vụ mọi phân khúc</span>
            <h2 class="title mb-0">Tất cả sản phẩm</h2>
        </div>
        <div class="tab-content" id="myTabcontent">
            <div class=" tab-pane fade show active" role="tabpanel" aria-labelledby="all">

                @await Html.PartialAsync("_ListProductPartialView", allProduct)
            </div>
            @foreach (var item in Model.Products)
            {
                <div class=" tab-pane fade  " id="@item.category.CatName" role="tabpanel">

                    @await Html.PartialAsync("_ListProductPartialView", item.lsProducts)
                </div>
            }

        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Banner Area -->
<!-- Banner Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí vận chuyển</h5>
                        <p class="short-desc mb-0">Giao hàng toàn quốc</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến</h5>
                        <p class="short-desc mb-0">Hỗ trợ khách hàng 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Thanh toán tiện lợi</h5>
                        <p class="short-desc mb-0">Hỗ trợ khách hàng thanh toán khi nhận hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
<!-- Begin Product Area -->
<!-- Product Area End Here -->
<!-- Begin Banner Area -->
<!-- Banner Area End Here -->
<!-- Begin Product Area -->

<!-- Product Area End Here -->
<!-- Begin Brand Area -->

<!-- Brand Area End Here -->
